h1 {
  text-align: center;
}

button {
  background-color: #d7d7d7;
  border: 2px solid #605e5e;
  border-radius: 40px;
  color: #565454;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 50px;
}

button:hover {
  cursor: pointer;
  color: #d7d7d7;
  background-color: #605e5e;
  transition: all ease-in-out 200ms;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Courier New", Courier, monospace;
}
.container::after {
  content: "";
  background-image: url(https://rosie.graylab.jhu.edu/images/ligand_docking_icon.png);
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.form-items {
  display: block;
  padding: 0.8em 0;
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

#description {
  text-align: center;
}

#survey-form {
  margin: 10px auto;
  width: 600px;
  background: rgba(255, 255, 255, 0.7);
}

#comments {
  min-height: 70px;
  min-width: 500px;
}

#other-descript {
  vertical-align: middle;
  height: 16px;
  min-width: 50px;
  margin: 0 10px;
}
